extends ./layout.jade

append styles
	style @media screen{main p{max-width:30em}}

block main
	main.narrative.invert
		h1.print= document.heading
		h2 In Vorbereitung
		h3 Blog
		p Um mit der rasanten Geschwindigkeit, mit der die Finanzindustrie aktuell der digitalen Transformation unterworfen wird, Schritt halten zu können, haben wir uns dazu entschlossen, einen Blog zu betreiben. Mit dem Ziel, den Besuchern unserer Seite direkten Zugang zu aktuellen Innovationen und Trends zu bieten, um in der FinTech-Welt nicht den Überblick zu verlieren. Unseren Blog gibt es #[b= sitemap({find: "name", value: "Blog"}).note].
		p.form-action.screen
			a.button(href="/contact") Weitere Informationen anfordern
