extends ./layout.jade

block main
	main.narrative
		h1= document.heading
		p
			strong Vielen Dank
			|  für Ihre Nachricht. Wir bleiben in Kontakt.
		p.form-action.screen
			a.button(href="/") Zur Startseite
