extends ./layout.jade

block main
	p.narrow Bei FInno Consult gibt es in Kürze eine Reihe von Neuigkeiten. Da Sie sich registriert haben erfahren Sie davon zuerst.
	p.form-action 
		strong Vielen Dank.
		br
		| Wir bleiben in Kontakt.
	p.form-action
		a.button(href="/") Zur Startseite
