extends ./layout.jade

block main
	p
		b Neue Techniken und Kanäle bieten neue Möglichkeiten und prägen Unternehmen. 
		|	Wir verstehen Finanztechnologie als Ideengeschäft im globalen Markt. Als Experten mit außergewöhnlichem Erfahrungsschatz bieten wir Finanz-Innovationsberatung inklusive Umsetzung an. 
	p.form-action.screen
		a.button(href="/contact") Kontakt
