doctype html
html.no-js(lang="de")

	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		block title
			title= document.title
			if document.description
				meta(name="description", content=document.description)
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/oldie.css"><![endif]-->
		<!--[if gt IE 8]><!-->
		block styles
			link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Alegreya+Sans:700|Alegreya")
			if verbose
				link(rel="stylesheet", href="/css/style.css")
			else
				style
					include ../build/css/style.css
		include icon
		if verbose
			script(src="/js/ctm.js")
			script(src="/js/loadJS.js")
		else
			script
				include ../build/js/ctm.js
			script
				include ../build/js/loadJS.js
		<!--<![endif]-->

	body
		include header
		block main
		include navigation
		include footer
		<!--[if gt IE 8]><!-->
		block scripts
			if verbose
				script(async, src="/js/slide.js")
			else
				script
					include ../build/js/slide.js
		<!--<![endif]-->
