doctype html
html.no-js(lang="de")

	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		block title
			title= document.title
			if document.description
				meta(name="description", content=document.description)
		block styles
			link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700|Alegreya")
			if verbose
				link(rel="stylesheet", href="/css/all.css")
				link.media(rel="stylesheet", media="screen", href="/css/screen.css")
				link(rel="stylesheet", media="print", href="/css/print.css")
			else
				<!--[if gt IE 8]><!-->
				style
					include ../build/css/all.css
				<!--<![endif]-->
				<!--[if lte IE 9]><link rel="stylesheet" media="screen" href="/css/oldie.css"><![endif]-->
				<!--[if gt IE 8]><!-->
				style(media="print")
					include ../build/css/print.css
				style.media(media="screen")
					include ../build/css/screen.css
				<!--<![endif]-->
		include icon
		if verbose
			script(src="/js/ctm.js")
			script(src="/js/loadJS.js")
		else
			script
				include ../build/js/ctm.js
			script
				include ../build/js/loadJS.js

	body
		include header
		block main
		include navigation
		include footer
		block scripts
			if verbose
				script(async, src="/js/slide.js")
			else
				script
					include ../build/js/slide.js
