doctype html
html(lang="de")

	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		block title
			title= document.title
			if document.description
				meta(name="description", content=document.description)
		<!--[if gt IE 8]><!-->
		block styles
			link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Alegreya+Sans:700|Alegreya")
			if verbose
				link(rel="stylesheet", href="/css/style.css")
			else
				style
					include ../build/css/style.css
		include icon
		<!--<![endif]-->

	body
		header.site
			a(rel="home", href="/")
				img.logo(src="/img/logo.svg", alt="Verweis zur Startseite")
		main
			h1.print= document.short
			section.slogan
				block main
		include vcard
		include footer
		<!--[if gt IE 9]><!-->
		block scripts
			if verbose 
				script(src="/js/loadJS.js")
				script(async, src="/js/ctm.js")
			else
				script(async, src="/js/main.js")
		<!--<![endif]-->
