nav.screen#navigation
	hr
	each link, separator in sitemap({list: "name"})
		= separator ? " " : ""
		- var cn = !link.url && link.path === path ? "active" : null
		a(lang=link.language, class=cn, href=link.path || link.url, data-note=link.note)= link.name
