nav.screen#navigation
	hr
	each link, separator in sitemap({list: "name"})
		= separator ? " " : ""
		a(lang=link.language, class=link.path === path ? "active" : null, href=link.path || link.url, data-note=link.note)= link.name
