aside.vcard
	h2.print Angaben zum Unternehmen
	p.fn.n.org
		b FInno Consult 
			abbr GmbH
	p.print
		img.logo(src="/img/logo.svg", alt="Firmenlogo")
	p.adr
		a.hide-link(href="https://www.google.com/maps/place/Rasumofskygasse+26,+1030+Wien", title="In Google Maps anzeigen")
			span.street-address Rasumofskygasse&nbsp;26
			br
			span.postal-code 1030
			| &nbsp;
			span.locality Wien
			br.print
			span.country-name.print Österreich
	p
		span.email.hide-link info
			abbr(lang="en", title="at") &#64;
			= link.self.split("/")[2].split(".").slice(-2)[0]
			abbr(title="punkt") &#46;
			abbr= link.self.split("/")[2].split(".").pop()
		br
		a.url.hide-link(href=link.self)= link.self.split("/")[2]
	p.legal
		small
			| UID ATU69201838
			br
			| FN 426099t
