---
title: 404
heading: Seite existiert nicht
noindex: true
---

style(media="screen") .missing{text-align:center}.missing::before{content:"?";display:block;font-size:6em}
p.missing Leider gibt es diese Seite nicht.
p.form-action.screen
	a.button(href="/") Zur Startseite
