---
title: 404
heading: Page not found
noindex: true
---

p(data-info="!") There’s no content on this site, and that’s OK. This is just a template for actual content.
p.form-action.screen
	a.button(href=linkTo(locale, "/")) Go to the template
