---
title: 404
heading: Seite existiert nicht
noindex: true
---

p(data-info="!") Es gibt keinen Inhalt auf dieser Seite, und das ist OK. Dies ist nur eine Vorlage für etwaigen Inhalt.
p.form-action.screen
	a.button(href=linkTo(locale, "/")) Zur Vorlage
