---
title: 500
heading: Internal error occurred
layout: compact.jade
noindex: true
---

p(data-info="?") Sorry, there was an error occucred during your request.
p.form-action.screen
	| We appreciate your reporting the case to
	br
	a.button(href="mailto:admin@finnoconsult.at") admin@finnoconsult.at
