---
title: 500
heading: Ein Fehler ist aufgetreten
layout: compact.jade
noindex: true
---

p(data-info="?") Entschuldigung, Bei der Verarbeitung Ihrer Anfrage ist ein Fehler aufgetreten.
p.form-action.screen
	| Wir freuen uns, wenn Sie den Fall dem Administrator melden:
	br
	a.button(href="mailto:admin@finnoconsult.at") admin@finnoconsult.at
