---
title: Coming Soon
heading: Upcoming Topics
layout: extended.jade
---

section.narrative.invert
	h2 In Progress
	h3 Our Blog
	p We have decided to keep a blog in order to keep up with the lightning speed of the digital transformation within the financial industry currently. Our aim is to give visitors to our website insights into the latest innovations and trends, allowing them to keep track of the fintech world. Our blog will be available #[b soon].
	p.form-action.screen
		a.button(href=linkTo(locale, "/contact")) Request further information
