---
title: Coming Soon
heading: Aktuelle Themen
layout: extended.jade
---

section.narrative.invert
	h2 In Vorbereitung
	h3 Unser Blog
	p Um mit der rasanten Geschwindigkeit, mit der die Finanzindustrie aktuell der digitalen Transformation unterworfen wird, Schritt halten zu können, haben wir uns dazu entschlossen, einen Blog zu betreiben. Mit dem Ziel, den Besuchern unserer Seite direkten Zugang zu aktuellen Innovationen und Trends zu bieten, um in der FinTech-Welt nicht den Überblick zu verlieren. Unser Blog startet #[b in Kürze].
	p.form-action.screen
		a.button(href="/contact") Weitere Informationen anfordern
