---
title: Thank You
heading: Message received
---

p(data-info="☺")
	strong Thank you
	|  for your message.
	br
	| We will stay in touch.
p.form-action.screen
	a.button(href=linkTo(locale, "/")) Go to our home page
