---
title: Impressum
description: Angaben zum Unternehmen und rechtliche Hinweise
layout: extended.jade
---

section.narrative.invert
	h2 Angaben zum Unternehmen
	dl.vcard
		dt Firmenname
		dd.fn.n.org FInno Consult #[abbr GmbH]
		dt Adresse
		dd.adr
			a.hide-link(href="https://www.google.com/maps/place/Rasumofskygasse+26,+1030+Wien", title="In Google Maps anzeigen")
				span.street-address Rasumofskygasse&nbsp;26
				br
				span.postal-code 1030
				| &nbsp;
				span.locality Wien
				br.print
				span.country-name.print Österreich
		dt Telefon
		dd.tel +43#[span.prefix 669]13507690
		dt e-Mail
		dd.email.hide-link info
			abbr(lang="en", title="at") &#64;
			= homepage.split("/")[2].split(".").slice(-2)[0]
			abbr(title="Punkt") &#46;
			abbr= homepage.split("/")[2].split(".").pop()
		dt Webseite
		dd
			a.url.hide-link(href=homepage)= homepage.split("/")[2]
	dl
		dt IBAN
		dd AT35&nbsp;1515&nbsp;1042&nbsp;0107&nbsp;7650
		dt BIC, SWIFT
		dd OBKLAT2L (Oberbank Austria)
	dl
		dt UID&nbsp;Nr.
		dd ATU69201838
		dt Firmenbuch&nbsp;Nr.
		dd 426099t
		dt Sitz
		dd Wien
		dt Gerichtsstand
		dd Handelsgericht Wien
section.narrative#legalese
	h2.print Rechtliche Hinweise
	h3 Inhaltliche Verantwortung
	p Die inhaltliche Verantwortung liegt alleinig beim Medieninhaber. Die auf der Webseite dargestellten Bilder und Texte sind urheberrechtlich geschützt außer es ist anders angegeben. Eine öffentliche Weiterverwendung ist nur mit ausdrücklicher Erlaubnis des Medieninhabers gestattet. Davon ausgenommen sind die offiziellen, kostenlosen Informationen und Mitteilungen. Um mit dem Medieninhaber in Kontakt zu treten nutzen Sie bitte #[a(href="/contact") das Kontaktformular].
	h3 Nutzungsbedingungen
	p Die Inhalte dieser Webseite sind frei nutzbar und dienen ausschließlich der Information. Es kommen durch die Nutzung der Auswahlmöglichkeiten der Web-Site keinerlei Rechtsgeschäfte zwischen der Eigentümerin und den Nutzern zu Stande. Die weitere Vorgangsweise zwischen Anbietern und Nutzern und der mögliche spätere Abschluss von Aufträgen zwischen Anbietern und Nutzern liegen im ausschließlichen Ermessen der Nutzer.
	h3 Haftungsausschluss
	p In Hinblick auf die technischen Eigenschaften des Internets kann keine Gewähr für die Authentizität, Richtigkeit und Vollständigkeit der im Internet zur Verfügung gestellten Informationen übernommen werden. Es wird auch keine Gewähr für die Verfügbarkeit oder den Betrieb der gegenständlichen Webseite und ihrer Inhalte übernommen. Jede Haftung für unmittelbare, mittelbare oder sonstige Schäden, unabhängig von deren Ursachen, die aus der Benutzung oder Nichtverfügbarkeit der Daten und Informationen dieser Webseite erwachsen, wird, soweit rechtlich zulässig, ausgeschlossen. Der Inhalt dieser Webseite ist urheberrechtlich geschützt. Die Informationen sind nur für die persönliche Verwendung bestimmt. Jede weitergehende Nutzung insbesondere die Speicherung in Datenbanken, Vervielfältigung und jede Form von gewerblicher Nutzung sowie die Weitergabe an Dritte&thinsp;&mdash;&thinsp;auch in Teilen oder in überarbeiteter Form&thinsp;&mdash;&thinsp;ohne Zustimmung des Website-Inhabers ist untersagt. Verlinkungen auf diese Webseite sind willkommen.
	h3 Datenschutz
	p Auf unseren Seiten eingegebene personenbezogene Daten werden nach dem österreichischen Datenschutzgesetz behandelt. Die Nutzung des Informationsangebots ist jedoch auch ohne Angabe personenbezogener Daten möglich.
	p Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
	h3 Konzept und Gestaltung
	p Konzept und Design von #[a(href="http://ulfharr.com/") Ulf Harr].
	p Typografie (#[a(href="https://www.google.com/fonts/specimen/Alegreya") Alegreya] und #[a(href="https://www.google.com/fonts/specimen/Alegreya+Sans") Alegreya Sans]) von Juan Pablo del&nbsp;Peral.
	p Umsetzung durch #[a(href="http://trinn.consulting/") TRINN Consulting GmbH].
