---
title: Christian Berger
photo: /img/photo-christianberger.jpg
email: chrisberger@finnoconsult.at
phone: +43 664 8180166
social:
  - name: Linkedin
    url: https://at.linkedin.com/in/christianberger701
layout: person.jade
file: chris.html
---
