---
title:  Martin Schachinger
photo:  /img/photo-martinschachinger.jpg
email:  martin@finnoconsult.at
phone:  +43 669 13507690
social:
  - name: Linkedin
    url: https://at.linkedin.com/pub/martin-schachinger/8/759/A3A
layout: person.jade
file: martin.jade
noindex: true
---
