@charset "UTF-8";

@font-face {
    font-family:'Circular-Std-Book';
    src: url('./fonts/CircularStd-Book.eot');
	  src: url('./fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
		url('./fonts/CircularStd-Book.woff2') format('woff2'),
		url('./fonts/CircularStd-Book.woff') format('woff'),
		url('./fonts/CircularStd-Book.svg#CircularStd-Book') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

/* @font-face {
    font-family:'Circular-Std-Medium';
    src: url('./fonts/CircularStd-Medium.eot');
	  src: url('./fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
		url('./fonts/CircularStd-Medium.woff2') format('woff2'),
		url('./fonts/CircularStd-Medium.woff') format('woff'),
		url('./fonts/CircularStd-Medium.svg#CircularStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Circular-Std-Bold';
    src: url('./fonts/CircularStd-Bold.eot');
	  src: url('./fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/CircularStd-Bold.woff2') format('woff2'),
		url('./fonts/CircularStd-Bold.woff') format('woff'),
		url('./fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
} */



::selection {
	/* TODO:  */
	text-shadow: none;
}
::placeholder {
	/* TODO:  */
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

hr {
	display: none;
}

@media screen {
	* {
		font-size: inherit;
		font-style: inherit;
		font-weight: inherit;
	}
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
	box-sizing: border-box;
	font: 450 18px/1.25 "Circular-Std-Book", Helvetica, sans-serif;
	color: #000;
}
.logo,
/* h1,
h2,
h3, */
figure,
table,
dt,
label,
.button,
main a,
aside a,
time,
em,
strong,
b {
	font-family: "Circular-Std-Book", Helvetica, sans-serif;
	/* font-family: "Circular-Std-Bold", "Circular-Std-Book", Helvetica, sans-serif; */
	font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
}
main {
	display: block; /*IE*/
}
a {
	color: inherit;
	text-decoration: inherit;
}
img {
	max-width: 100%;
	border: none;
}
button,
input,
textarea {
	color: inherit;
	font: inherit;
}
h1,
h2,
h3 {
	/* margin: 1.5em 0 .75em; */
  margin: 0;
  padding: 0;
  font-weight: normal;
}
h1 {
  font-size: 3.55rem;
}
h2 {
  font-size: 2.66rem;
}
h3, h4 {
  font-size: 1.33rem;
}
h1,
h2,
h3,
figure {
	line-height: 1.25;
}

.hide-link {
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
}
.slide-link {
	color: inherit;
}
time,
figure,
td {
	font-weight: 450;
}
th,
td {
	text-align: left;
	vertical-align: top;
}
ul {
	list-style-type: square;
}
table {
	table-layout: fixed;
	width: 100%;
	border-spacing: 0;
}
em,
main a,
b,
ins {
	/* TODO: */
}
footer.site,
small,
sup,
code {
	font-size: 87.5%;
}
table,
figure,
ol,
ul,
dl {
	margin: 1.5em 0;
}
li,
p {
	margin: .75em 0;
}
dt {
	line-height: 1.4;
}
sup {
	position: relative;
	bottom: .5em;
	vertical-align: inherit;
}
abbr {
	border-bottom: none;
	text-decoration: none;
}
label {
	display: inline-block;
	margin: .25em 0;
	padding: 0 .67em;
}
input,
textarea {
	display: block;
	width: 100%;
	background: #fff;
	border: 1px solid #ccd2dc;
}
textarea {
	resize: vertical;
	min-height: 10em;
}
.button,
input,
textarea {
	padding: .5em;
}

.col-price {
	text-align: right;
}
.price {
	display: inline-block;
	min-width: 3em;
}

li.bubble {
	margin: 0;
}

.prefix {
	display: inline-block;
	margin: 0 .5ex;
}
