@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Kalam');
/*  */

h1, h2.main {
	/*font-family: 'Kalam';*/
	color: #0965bc;
	/*font-weight: normal;*/
}

.handwritten {
	font-family: Kalam;
}

em,
main a,
b,
ins {
	color: #0965bc;
}
header.site {
	padding: 0 0.5em;
}

a.logo {
	width: auto;
	padding: 0.2em 0 0 0;
	/*width: 24em;
	padding: 1em 0;
	background: url("/img/innovacios/logo2.svg") center no-repeat;
	background-size: contain;*/
	background: none;
	color: #0965bc;
	color: inherit;
	font-size: 3.3vw;
	text-align: left;

}

.nn {
	color: transparent;
	text-decoration: none;
	background: url("/img/innovacios/nn.svg") center no-repeat;
	background-position: center;
	background-size: 90%;
	text-indent: -100%;
	overflow: hidden;
	/*background-image: url('/img/innovacios/n.svg'),
                  url('/img/innovacios/n.svg');
	background-repeat: no-repeat,
	                   no-repeat;
	background-position: left bottom,
	                     right bottom;
	background-size: 50%, 50%;*/
}

a.logo .nn {
	background-size: 89%;
	background-position: 0.2vw 1.44vw;
}



a:focus,
a:hover {
	box-shadow: 0 -2px #0965bc inset;
}

.withUs {
	position: absolute;
	left: 0;
	top: 0;
}
.withUs h3{
	margin: 4.5vw 17vw;
  font-size: 1.6vw;
  transform: rotate(-3deg);
  z-index: 3;
  position: absolute;
  white-space: nowrap;
  font-weight: normal;
	transition: all 0.2s ease;
}
.scrolled .withUs h3{
	opacity: 0;
}
.withUs h3 .nn{
}


.narrative {
	background: linear-gradient(301.75deg, #0965bc 0, #0965bc 4em, rgba(9,101,188,0) 4em) center no-repeat #f2f4f6;
	background-size: cover;
}
div.narrative {
	background-color: #fff;
}


.motto {
	width: 65vw;
	overflow: hidden;
}

.motto dt{
    font-size: 7.5vw;
		line-height: 9vw;
		height: 9vw;
		font-weight: bold;
		text-transform: uppercase;
    width: auto;
    position: relative;
		white-space: nowrap;
		background-color: white;
		overflow: hidden;
		transition: all 1s ease;
}

.motto dt:nth-child(1) {
	animation: liftingUp 1s;
	-webkit-animation: liftingUp 1s;
}
@keyframes liftingUp {
  0% { line-height: 30vw; }
  80% { line-height: 30vw; }
  100% { line-height: 7.5vw; }
}
.motto dt:nth-child(3) {
	animation: liftingUp2 1.5s;
	-webkit-animation: liftingUp2 1.5s;
}
@keyframes liftingUp2 {
	0% { line-height: 30vw; }
  80% { line-height: 30vw; }
  100% { line-height: 7.5vw; }
}
.motto dt:nth-child(5) {
	animation: liftingUp3 2s;
	-webkit-animation: liftingUp3 2s;
}
@keyframes liftingUp3 {
	0% { line-height: 30vw; }
  80% { line-height: 30vw; }
  100% { line-height: 7.5vw; }
}

.motto dt.help {
	font-family: Kalam;
	/*font-family: 'Permanent Marker';*/
	color: #0965bc;
	text-transform: capitalize;
	animation: handwriting 4s;
	-webkit-animation: handwriting 4s;
	overflow: hidden;
	margin: 0;
	/*line-height: 12vh;*/
	font-size: 7vw;
	text-align: center;
}
@keyframes handwriting {
  0% { width: 0.001em; }
  60% { width: 0.001em; }
  100% { width: 65vw; }
}
.motto dd {
	font: 0/0 a;
	text-indent: -200%;
	overflow: hidden;
	/*background: url("/img/innovacios/strikethrough.sprite.png") left 2vw no-repeat;*/
	background-size: 65vw;
	width: 65vw;
	margin-top: -9vw;
	height: 9vw;
	position: absolute;
	transition: all 1s ease;

	animation: strikethrough_pencil1 1s;
	-webkit-animation: strikethrough_pencil1 1s;

}
.motto dd:nth-child(4) {
	background-position: left -7vw;
	animation: strikethrough_pencil2 1.5s;
	-webkit-animation: strikethrough_pencil2 1.5s;
}
.motto dd:nth-child(6) {
	width: 53vw;
	animation: strikethrough_pencil3 2s;
	-webkit-animation: strikethrough_pencil3 2s;
}
@keyframes strikethrough_pencil1 {
  0% { width: 0.01rem; }
  75% { width: 0.01rem; }
  100% { width: 65vw; }
}
@keyframes strikethrough_pencil2 {
  0% { width: 0.01rem; }
  83% { width: 0.01rem; }
  100% { width: 65vw; }
}
@keyframes strikethrough_pencil3 {
  0% { width: 0.01rem; }
  87% { width: 0.01rem; }
  100% { width: 53vw; }
}
[lang^="en"] .motto dd:nth-child(4) {
	width: 34vw;
	animation: strikethrough_pencil2_en 1.5s;
	-webkit-animation: strikethrough_pencil2_en 1.5s;
}
[lang^="en"] .motto dd:nth-child(6) {
	width: 32vw;
	animation: strikethrough_pencil3_en 2s;
	-webkit-animation: strikethrough_pencil3_en 2s;
}
@keyframes strikethrough_pencil2_en {
  0% { width: 0.01rem; }
  83% { width: 0.01rem; }
  100% { width: 34vw; }
}
@keyframes strikethrough_pencil3_en {
  0% { width: 0.01rem; }
  87% { width: 0.01rem; }
  100% { width: 32vw; }
}

.invert {
	/*background-color: #0965bc;*/
	background-color: #538ABD;
}
#orientation,
.narrative.invert {
	/*background-image: linear-gradient(301.75deg, #fff 0, #fff 4em, #0965bc 4em);*/
	background-image: linear-gradient(301.75deg, #fff 0, #fff 4em, #538ABD 4em);
}
.narrative.invert *{
	color: #dceaf7;
}
#orientation {
	background-image: linear-gradient(301.75deg, #fff 0, #fff 4em, rgba(255,255,255,0) 4em), url(/img/innovacios/bg-shibuya.jpg);
}
#activation {
	/*linear-gradient(301.75deg, rgba(242, 242, 246, 0.7) 10em, rgba(9,101,188,1) 35.5em, #fff 36em), */
	background-image: linear-gradient(301.75deg, #0965bc 0, #0965bc 4em, rgba(9,101,188,0) 4em), url(/img/bg-bank.jpg);
	/*-100vw, */
	/*background-position: 0, -50vw;*/
	/*transition: all 1s linear;*/
}
aside#contact {
	background-image: linear-gradient(301.75deg, #0965bc 0, #0965bc 4em, rgba(255,255,255,0) 4em), linear-gradient(#f2f4f6 0, #fff 0, #f2f4f6 100%);
}
.narrative.invert::before {
	/*background: linear-gradient(180deg, rgba(9,101,188,0) 50%, #0965bc 100%), linear-gradient(210deg, rgba(9,101,188,0) 0, #0965bc 50%), url(/img/strategy.svg) 0 -2.5em repeat, url(/img/strategy.svg) 2em .5em repeat;*/
	background: linear-gradient(180deg, rgba(9,101,188,0) 50%, #538ABD 100%), linear-gradient(210deg, rgba(9,101,188,0) 0, #538ABD 50%), url(/img/strategy.svg) 0 -2.5em repeat, url(/img/strategy.svg) 2em .5em repeat;
	background-size: cover, cover, 4em auto, 4em auto
}

li.bubble::after {
	color: #0965bc;
}
.math abbr {
	color: #0965bc;
}
.math strong:last-child  {
	border: none;
  margin-top: 0px;
  padding-top: 0px;
}
.math strong:nth-child(3)  {
  padding-top: .25em;
  border-top: .125em solid currentColor;
  margin-bottom: 0px;
}
.button {
	background-color: #0965bc;
	border: .125em solid #0965bc;
	border-radius: 5em;
}
.button:focus,
.button:hover {
	color: #0965bc;
}
.invert .button:focus,
.invert .button:hover {
	color: #0965bc;
}

#navigation .button {
	padding: 0.5em 1em;
	margin-left: 1.5em;
}



/*#experience */
.colleagues {
	/*position: absolute;*/
	left:0px;
	margin: 0 2em;
	display: flex;
	flex-wrap: nowrap;
	top: 11em;
}
#contact .colleagues {
	margin-bottom: 8em;
}
@media (max-width: 52em) {
	/*#experience */
	.colleagues {
		flex-wrap: wrap;
	}
}
/*#experience */
.colleagues p {
	/*flex: 33%;*/
	padding: 0.5em;
	text-align: justify;
}

cookie.disclaimer {
	background: #0965bc;
  background-color: rgb(9,101,188);
  background-color: rgba(9,101,188,0.7);
  background: linear-gradient(-237.75deg, rgba(9,101,188,0.7) 0, rgba(9,101,188,0.7) 80vw, transparent 77px) center no-repeat;
}
cookie.disclaimer button {
  color: #0965bc;
}



[data-flag] {
	padding-right: 0.75em;
}
[data-flag="hu-hu"]::before { background-image: url(https://finnoscore.finnoconsult.at/img/flaggen/HU.jpg); }



li.bubble.finnoconsult a, li.bubble.finnoconsult b, li.bubble.finnoconsult strong, li.bubble.finnoconsult::after{
	color: #00bd59;
}
.bubble-xl {
	text-align: justify;
	width: 19rem;
	height: 19rem;
}
.bubble-breakout {
	width: 13em;
	height: 13em;
}


#contact .colleagues p {
	text-align: center;
}



@media (min-width: 48em) {
	li.bubble.finnoconsult {
		position: absolute;
		right: 10%;
	}
}


@media (min-width: 37.5em) {
	nav.withButton {
		right: 0.5em;
	}
}
@media (max-width: 37.47em) {
	a.logo {
		width: 60vw;
	}
	nav a.active {
		box-shadow: 3px 0 #0965bc inset;
	}
	nav a[data-note]::after {
		color: #0965bc;
	}
}

@media (min-width: 37.5em) {
	nav a.active {
		box-shadow: 0 -.25em #0965bc inset;
	}
  td.col-reach::before {
		border: 0 solid #0965bc;
	}
}

@media (min-width: 48em) {
	#experience {
		background-image: linear-gradient(301.75deg, #0965bc 0, #0965bc 4em, rgba(255,255,255,0) 4em), linear-gradient(#f2f4f6 0, #f2f4f6 20em, #fff 20em);
	}
	#experience h2 {
		min-height: auto;
	}
	#experience p, #experience p:nth-of-type(even) {
		right: auto;
		left: auto;
		position: relative;
		margin: 0;
		top: auto;
	}
}

/* interactive css*/

@media screen and (min-width: 48em) {
	.js #orientation::before {
		background: linear-gradient(301.75deg, #fff 0, #fff 4em, rgb(9,101,188) 4em, rgb(9,101,188) 50%, #fff 50%);
	}
	.js #activation h2, .js #activation p, .js #activation a {
		z-index: 2;
	}
	.js #activation h2, .js #activation p {
		position: relative;
	}
	.js #activation[data-rsg] {
		background: linear-gradient(301.75deg, #0965bc 0, #0965bc 4em, rgba(9,101,188,0) 4em, #fff);
		/*background-image: linear-gradient(301.75deg, #0965bc 0, #0965bc 4em, rgba(9,101,188,0) 4em), url(/img/bg-bank.jpg);*/
		/*background-image: linear-gradient(301.75deg, #0965bc 0, #0965bc 0, #Fff 50%, #FFF 50%), url(/img/bg-bank.jpg);*/
		/*background-position: 0, 100vw, 50vw;*/
	}

	.js #activation[data-rsg]::before {
		transform: translateX(60%);
		opacity: 1;
	}
	.js #activation::before {
		z-index: 1;
		content: "";
		position: absolute;
		top: 0;
		left: -300%;
		bottom: 0;
		width: 400%;
		opacity: 0;
		/*background: linear-gradient(301.75deg, #fff 45%, #fff 38%, rgba(9,101,188,1) 50%, rgba(9,101,188,1) 51%, #fff 50%);*/
		/*background: linear-gradient(301.75deg, #fff 0, #fff 4em, rgba(9,101,188,1) 4em, rgba(9,101,188,1) 50.5%, #fff 50%);*/
		background: linear-gradient(301.75deg, #fff 0, #fff 4em, rgba(9,101,188,0.5) 4em, rgba(9,101,188,0.5) 50.5%, #fff 50%);
		transition: transform 1.5s linear, opacity .4s linear 1.25s;
	}

	.js #activation .bubble:nth-child(1) {
		transition-delay: 2s;
	}
	.js #activation .bubble:nth-child(2) {
		transition-delay: 2.4s;
	}
	.js #activation .bubble:nth-child(3) {
		transition-delay: 2.8s;
	}
	.js #activation .bubble:nth-child(4) {
		transition-delay: 3.2s;
	}
}

/* all css*/

::selection {
	background: none;
	color: #0965bc;
}
