body {
	margin: 0;
	padding: 32px 24px 16px;
	background: #fff;
	border-top: 4px solid #00bd59;
	color: #231f20;
}
a {
	color: #00bd59;
}
img {
	border: none;
	width: 200px;
}
th {
	text-align: left;
}
header .screen {
	display: none;
}
hr {
	height: 1px;
	border: 1px solid #fff;
	border-top-color: #ccd2dc;
}

body {
	position: relative;
}
header.site,
main {
	position: relative;
	width: 160mm;
	margin: 0 auto;
}
nav,
footer.site {
	position: static;
	padding-top: 12mm;
}
footer .screen {
	display: inline !important;
}
form .screen,
nav.screen {
	display: block !important;
}
.button {
	display: inline-block;
	background-color: #fff;
	border: .125em solid #00bd59;
	color: #00bd59;
	padding: .675em 1.75em;
}
nav {
	position: absolute;
	right: 5rem;
	text-align: right;
}
nav a {
	font-size: 87.5%;
}
nav a + a,
footer.site a {
	margin-left: 2em;
}
