@-ms-viewport {
  width: device-width;
}

@keyframes slide {
	0%, 84%, 92%, 100% { transform: translate(-50%, 0); }
	88%, 96% { transform: translate(-50%, -.125em); }
	89%, 97% { transform: translate(-50%, .5em); }
}

.print {
	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

* {
	margin: 0;
	padding: 0;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	color: #231f20;
}

label,
button {
	cursor: pointer;
}

h1,
main .narrative h2 {
	max-width: none;
	margin-bottom: 1.5em;
	font-size: 200%;
	text-align: center;
}

th,
td {
	padding: .75em .5em;
	border: 1px solid #f2f4f6;
}
th {
	background-color: #fff;
}
td {
	background-color: #e5e9ed;
}

a:focus,
a:hover {
	box-shadow: 0 -2px #00bd59 inset;
}

.site {
	padding: 0 2rem;
}

header.site {
	position: absolute;
	z-index: 3;
	top: 0;
	right: 0;
	left: 0;
	background: #fff;
	text-align: right;
}
nav, #navigation {
	z-index: 3;
}
a.logo {
	float: left;
	width: 10em;
	padding: 1em 0;
	background: url("/img/logo.svg") center no-repeat;
	background-size: contain;
	color: transparent;
	text-align: center;
}
a[href="#navigation"] {
	display: inline-block;
	margin: 0 -1ex;
	padding: 1em 1ex;
	color: transparent;
}
a[href="#navigation"]:focus,
a[href="#navigation"]:hover {
	color: inherit;
}
a[href="#navigation"]::after {
	content: "";
	display: inline-block;
	height: 1.25em;
	width: 1em;
	margin: 0 0 .125em 1em;
	vertical-align: text-bottom;
	background: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,0) 20%, #231f20 0, #231f20 30%, rgba(255,255,255,0) 0, rgba(255,255,255,0) 45%, #231f20 0, #231f20 55%, rgba(255,255,255,0) 0, rgba(255,255,255,0) 70%, #231f20 0, #231f20 80%, rgba(255,255,255,0) 0);
}

.narrative {
	overflow: hidden;
	position: relative;
	min-height: 100vh;
	padding: 4em 2rem 6em;
	background: #f2f4f6;
	background: linear-gradient(301.75deg, #00bd59 0, #00bd59 4em, rgba(0,189,89,0) 4em) center no-repeat #f2f4f6;
	background-size: cover;
}
div.narrative {
	background-color: #fff;
}

section.invert, .narrative.invert, a.invert {
	background-color: #00bd59;
}
#orientation,
.narrative.invert {
	background-image: linear-gradient(301.75deg, #fff 0, #fff 4em, #00bd59 4em);
}
#orientation {
	background-image: linear-gradient(301.75deg, #fff 0, #fff 4em, rgba(255,255,255,0) 4em), url(/img/bg-shibuya.jpg);
}
#activation {
	background-image: linear-gradient(301.75deg, #00bd59 0, #00bd59 4em, rgba(0,189,89,0) 4em), url(/img/bg-bank.jpg);
}
aside#contact {
	background-image: linear-gradient(301.75deg, #00bd59 0, #00bd59 4em, rgba(255,255,255,0) 4em), linear-gradient(#f2f4f6 0, #fff 0, #f2f4f6 100%);
}
#engagement section:nth-of-type(1) h3 { background-position: 100% 0; }
#engagement section:nth-of-type(2) h3 { background-position: 100% -4em; }
#engagement section:nth-of-type(3) h3 { background-position: 100% -8em; }
#engagement h3 {
	max-width: none;
	margin: .5em -.375em 0 0;
	padding: 1.375em 0;
	background: url(/img/strategy.svg) 100% 4em no-repeat;
	background-size: 8em auto;
}
#clients {
}
#clients .bubbles .bubble-xs {
  margin: 1em 0 auto;
  padding-top: 0;
}
#clients .bubbles .bubble-xs .logo{
  margin-left: -5px;
  border-radius: 100%;
}
#clients .bubbles .bubble::after {
  content: '';
}
#clients .bubbles .bubble-xs::before {
  border: solid 3px #00bd59;
}
/* #clients.invert .bubbles .bubble-xs::before {
  border: solid 3px #00bd59;
} */
.narrative.invert {
	position: relative;
	z-index: 0;
}
.narrative.invert::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	height: 50%;
	left: 0;
	opacity: .3;
	background: linear-gradient(180deg, rgba(0,189,89,0) 50%, #00bd59 100%), linear-gradient(210deg, rgba(0,189,89,0) 0, #00bd59 50%), url(/img/strategy.svg) 0 -2.5em repeat, url(/img/strategy.svg) 2em .5em repeat;
	background-size: cover, cover, 4em auto, 4em auto;
}

.invert h1,
.invert h2,
.invert em,
.invert b {
	color: #fff;
}

.slide-link {
	display: block;
	position: absolute;
	left: 50%;
	bottom: .5em;
	min-width: 9em;
	transform: translate(-50%, 0);
	padding: 1.75em 0;
	background: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTYiIHdpZHRoPSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9InJnYigzNSwzMSwzMikiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNMS42IDQuOEw4IDExIDE0LjQgNSIvPjwvc3ZnPg==") 50% 85% no-repeat;
	color: #231f20;
	font-size: 87.5%;
	text-align: center;
	animation: slide 9s linear infinite;
}
.slide-link:focus,
.slide-link:hover {
	box-shadow: none;
}

.bubble::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: -1.5em;
	right: -1.5em;
	bottom: -1.5em;
	left: -1.5em;
	background: #fff;
	border-radius: 50%;
}
.bubble {
	position: relative;
	z-index: 2;
	width: 12em;
	height: 12em;
	margin: 4em auto;
	border: 0 solid transparent;
	border-width: 1px 0;
}
.bubble-photo {
	max-width: 67%;
	width: 15em;
	margin: 2em auto 0;
	background: #fff;
}
.bubble-photo,
.bubble-photo img {
	display: block;
	border-radius: 50%;
}
.bubbles {
	margin: 3em -1em 0;
	text-align: center;
}
.fullwidth {
  max-width: 100%;
}
form p.fullwidth {
  max-width: 36rem;
}
li.bubble {
	display: inline-block;
	margin: 2em 3em;
	padding-top: 4em;
	vertical-align: bottom;
}
li.bubble::after {
	content: "+";
	position: absolute;
	left: 0;
	top: -.375em;
	right: 0;
	color: #00bd59;
	font-family: sans-serif;
	font-size: 400%;
	text-align: center;
}
li.bubble.baningo::after {
  content: ' ';
  background-image: url('https://baningo.com/assets/804dea3a/images/logo.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  overflow: hidden;
  width: 0.75em;
  height: 0.754em;
  left: 1.125em;
  top: 0;
}
li.bubble.innovaciostanacsado::after {
  content: ' ';
  background-image: url('http://innovaciostanacsado.com/img/avatar-192.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  overflow: hidden;
  border-radius: 100%;
  width: 0.75em;
  height: 0.754em;
  left: 1.125em;
  top: 0;
}
.bubbles.vertical li.bubble {
  display: block;
  margin: 2em 12em;
}

.narrative.invert li.bubble,
li.bubble > ul > li,
li.bubble b{
  color: black;
}
.bubble-xs::before {
	top: -0.5em;
	right: -0.5em;
	bottom: -0.5em;
	left: -0.5em;
}
.bubble.bubble-xs {
	height: 6em;
	width: 6em;
	margin: 0.5em auto;
}
.bubble-s::before {
	top: -1em;
	right: -1em;
	bottom: -1em;
	left: -1em;
}
.bubble.bubble-s {
	height: 8em;
	width: 8em;
	margin: 1em auto;
}
.bubble-m::before {
	top: -1.5em;
	right: -1.5em;
	bottom: -1.5em;
	left: -1.5em;
}
.bubble.bubble-m {
	height: 10em;
	width: 10em;
	margin: 1.5em auto;
}
.bubble-l::before {
	top: -2.5em;
	right: -2.5em;
	bottom: -2.5em;
	left: -2.5em;
}
.bubble.bubble-l {
	height: 15em;
	width: 15em;
	margin: 2.5em auto;
}
.bubble-xl::before {
	top: -5em;
	right: -5em;
	bottom: -5em;
	left: -5em;
}
.bubble-xl {
	height: 18em;
	width: 18em;
	margin: 5em auto;
}
p.bubble-xl {
	margin-top: 0;
	margin-bottom: 0;
  height: auto;
}
p.right {
  margin: 1em;
	text-align: right;
}
main .narrative .bubble-xl h2 {
	margin: 0em 0 .75em;
}

.bubble-breakout {
	margin-top: 14em;
	padding-top: 1.5em;
}
.bubble-breakout h2 {
	position: absolute;
	right: 0;
	bottom: 100%;
	left: 0;
	color: #fff;
}
li.bubble-listing {
  padding: 0;
}
li.bubble-listing::after {
  content: '';
  display: none;
}
li.bubble-listing h2,
li.bubble-listing ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
li.bubble-listing li {
  /*text-align: left;*/
  list-style-type: none;
}
li.bubble-listing li::before {
    content: '+';
    /* position: absolute; */
    /* margin-top: -0.0em; */
    /* margin-left: -0.8em; */
    padding-right: 0.8em;
    font-size: 1em;
    color: #00bd59;
}
li.bubble-listing li:first-child::before {
  content: '';
}
.ourscope {
  padding-top:1em;
  padding-left:2em;
}
.ourscope ul {
  margin-top: 0;
}
.ourscope ul li {
  font-weight: bold;
  list-style-type: none;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 120%;
}
.ourscope ul li:before {
  content: "#";
  color: #00bd59;
}

.ourscope ul li b,
.ourscope ul li a{
  color: inherit;
}
ul.nolist > li {
  list-style-type: none;
}


.triangle-down::before {
	content: "";
  width: 0;
  height: 0;
  border-left: 12em solid transparent;
  border-right: 12em solid transparent;
  border-top: 11em solid #fff;
  position: absolute;
  z-index: -1;
  top: -0.5em;
  right: -3.5em;
  bottom: -0.5em;
  left: -3.5em;
  background: none;
}
.triangle-down {
	position: relative;
	z-index: 0;
	width: 17em;
	height: 11em;
	margin: auto;
}
main .narrative .triangle-down h2{
  position: relative;
  width: 100%;
  padding: 0;
  text-align: center;
  margin: 1.5em auto -0.5em;
  top: -1.5em;
  height: 0;
}
.triangle-down p{
  text-align: center;
}

.rectagle {
}

.grid-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.grid-column {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;

}
.grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.4em;

}


main h2,
main h3,
main ul,
main dl,
main p {
	max-width: 36rem;
	margin-right: auto;
	margin-left: auto;
	text-align: inherit;
}
main li {
	margin: .3125em 0;
}
main dt {
	margin: .625em 0 -.125em;
}

div.narrative {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.motto {
	width: 27.778em;
	max-width: 100%;
	margin: 5em auto; /*IE10/noFlexBox*/
}
.motto strong {
	display: block;
	overflow: hidden;
	position: relative;
	height: 0;
	width: 100%;
	max-width: none;
	padding-top: 60%;
	background: url(/img/we-do.gif) center no-repeat;
	background-size: 100% auto;
}
[lang^="en"] .motto strong {
	background-image: url(/img/we-do_en.gif);
}

.math strong {
	display: block;
	margin: .25em 0;
	padding-left: 1em;
	font-size: 150%;
	white-space: nowrap;
}
.math strong:last-child {
	padding-top: .25em;
	border-top: .125em solid currentColor;
}
.math abbr {
	position: absolute;
	margin: -.0625em 0 0 -1em;
	color: #00bd59;
	font-family: sans-serif;
}
.math strong:last-child abbr {
	color: inherit;
}
.invert .nn {
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.9 14.8'%3E%3Cpath fill='%23fff' d='M8.8 0L4 7.7l-4 6.6v.5h3.5l5.7-9L12.7 0h-4zM0 0v13.4L3.3 8V0H0zM13 1L9.5 6V15H13V.8z'/%3E%3C/svg%3E") center 59% no-repeat;
	background-size: 80% auto;
	color: transparent !important;
}

table {
	max-width: 60em;
	margin: 1.5em auto;
}
.options ol {
	list-style: none;
}
.options h4::after {
	content: ":";
}
.options li {
	list-style-type: none;
}
.options ul {
	margin: 0;
	padding-left: 0;
}

.form-action {
	margin-top: 3em;
	text-align: center;
}
form .form-action {
	margin-top: 1.5em;
}
.form-action #phone, .form-action #username, .form-action #subject, .form-action #city, .form-action #country, .form-action #address {
  display: none;
}

.button {
	display: inline-block;
	padding: .675em 1.75em;
	background-color: #00bd59;
	border: .125em solid #00bd59;
	color: #fff;
	transition: background-color .4s ease;
}
.button:focus,
.button:hover {
	background-color: transparent;
	color: #00bd59;
	box-shadow: none;
}
.invert .button {
	border-color: #fff;
}
.invert .button:focus,
.invert .button:hover {
	background-color: #fff;
	color: #00bd59;
}
li.bubble.finnoconsult .button-white,
li.bubble .button-white {
  color: #fff;
}
li.bubble.finnoconsult .button-white {
  background-color: #00bd59;
}

footer.site {
	padding-top: 1em;
	padding-bottom: 1em;
}
.footer-segment {
	display: inline-block;
	line-height: 2;
}
.twitter .footer-segment,
.legal .footer-segment {
	margin-left: 4ex;
}
.language {
	position: relative;
}
.language-all {
	display: block;
	position: absolute;
	z-index: 5;
	right: 50%;
	bottom: 100%;
	width: 16em;
	margin: 0 -8em .375em 0;
	padding: 1.5em;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.5);
	font-size: inherit;
	text-align: left;
	transform: scale(0);
	transform-origin: 50% 100%;
	transition: transform .25s ease;
}
.language-all::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 1em;
	width: 1em;
	margin: 0 0 -.5em -.5em;
	background: #fff;
	box-shadow: 2px 2px 2px rgba(0,0,0,.3);
	transform: rotate(45deg);
	transform-origin: center;
}
.language:focus .language-all,
.language:hover .language-all {
	transform: scale(1);
}
.language-all b {
	display: block;
	margin-bottom: 1em;
	color: inherit;
	text-align: center;
}
.language-all .footer-segment {
	margin-top: .5em;
}
.language-all .footer-segment::after {
	content: "\0a";
	white-space: pre;
}
.twitter::after {
	content: "";
	display: inline-block;
	position: relative;
	top: .2em;
	height: 1em;
	width: 1em;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23231f20' d='M32 7c-1.2.6-2.4 1-3.8 1 1.4-.7 2.4-2 3-3.5-1.4.7-2.8 1.3-4.3 1.6C25.6 5 24 4 22 4c-3.7 0-6.6 3-6.6 6.6 0 .5 0 1 .2 1.5C10.3 12 5.5 9.3 2.2 5.3c-.5 1-1 2-1 3.3 0 2.3 1.3 4.3 3 5.5-1 0-2-.4-3-1v.2c0 3.2 2.4 6 5.4 6.5l-1.8.2-1.2-.2c.8 2.6 3.3 4.5 6 4.5-2 1.8-5 2.8-8 2.8H0c3 2 6.4 3 10 3 12 0 18.7-10 18.7-18.7v-.8C30 9.5 31 8.5 32 7z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
	background-size: contain;
}


.hidden {
  display:none;
  opacity: 0;
}

.news{
  position:absolute;
  right:10%;
  top:3em;
}
.news a{
  display:block;
  height:6em;
  width:6em;
  padding:0.75em .5em 0;
  border-radius:50%;
  text-align:center;
  transform:rotate(9deg);
  transition:transform .5s ease
}
.news a:active{
  transform:rotate(9deg) scale(.7)
}
.news time{
  color: white;
  display:block;
}

.news2 {
  top: 11em;
  right:9.2%
}
.award {
  z-index: 10;
}
.award a {
  width: 12em;
  height: 12em;
  background: none;
  /* height: 11.8em; */
  padding:0;
}
/* .award a[data-lang="de-at"]::after, .award a[data-lang="en-gb"]::after  {
  content:'Rang 3 Kategorie Mobile Apps';
  position: absolute;
  margin-left: -14em;
  margin-top: 12em;
  width: 16em;
}
.award a[data-lang="en-gb"]::after  {
  content:'Rank 3 Category Mobile Apps';
} */
.news.award {
  right: 2%;
}





@media (max-width: 47.97em) {
	thead {
		position: absolute;
		clip: rect(0 0 0 0);
		height: 1px;
		width: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
	}
	tr + tr {
		margin-top: 1em;
	}
	td[data-col] {
		position: relative;
		margin-left: 50%;
	}
	td[data-col]::after {
		content: attr(data-col);
		position: absolute;
		top: 0;
		bottom: 0;
		right: 100%;
		width: 100%;
		margin-right: 2px;
		padding: .75em .5em;
		background: #fff;
		text-align: left;
	}
	.option {
		max-width: 20em;
		margin: 1.5em 0;
		padding: .75em .5em;
		border: 1px solid transparent;
	}
  .award a {
    width: 8em;
    height: 8em;
  }
}

@media (max-width: 37.47em) and (orientation: portrait) {
  .narrative {
    min-height: 150vw;
  }
}
@media (max-width: 37.47em) {
	footer.site,
	nav {
		text-align: center;
	}
	nav {
		min-height: 60vh;
	}
	nav a {
		display: block;
		padding: 2em;
		border-bottom: 1px solid #f2f4f6;
	}
	nav a.active {
		box-shadow: 3px 0 #00bd59 inset;
	}
	nav a[data-note]::after {
		content: attr(data-note);
		display: inline-block;
		position: absolute;
		margin-left: 1ex;
		padding: 1px 1em;
		color: #00bd59;
		transform: rotate(-9deg);
		font-family: "Alegreya Sans", sans-serif;
		font-size: small;
		font-weight: 700;
	}
	div.footer-segment {
		display: block;
		margin: 1em 0;
	}
	.twitter .footer-segment:first-child,
	.legal .footer-segment:first-child {
		margin-left: 0;
	}
  .news a {
    width: 45pt;
    height: 45pt;
    font-size: 7.5pt;
  }
  .news.award {
    right: 5%;
    top: 20pt;
  }
  .news2 {
    right: 30%;
  }
  .award a {
    width: 95pt;
    height: 95pt;
  }
}
@media (max-width: 19.97em) {
	html {
		font-size: 5vw;
	}
  .award a {
    width: 50pt;
    height: 50pt;
  }
}
@media (min-width: 37.5em) {
	.copyright {
		float: left;
	}
	.language {
		float: right;
	}
	.language-all {
		right: 8em;
	}
	header.site,
	nav {
		position: fixed;
		z-index: 3;
	}
	a[href="#navigation"] {
		visibility: hidden;
	}
	nav {
		right: 2em;
		top: 0;
	}
	nav a {
		display: inline-block;
		margin-left: 2em;
		padding: 1em 0;
	}
	nav a.active {
		box-shadow: 0 -.25em #00bd59 inset;
	}
 	main dt {
		position: absolute;
		width: 11em;
		margin-top: .0625em;
	}
	main dd {
		padding-left: 12em;
	}
	td.col-compare,
	td.col-reach {
		padding-left: 1.75em;
	}
	td.col-compare::before,
	td.col-reach::before {
		content: "";
		display: inline-block;
		position: absolute;
		width: .5em;
		height: .875em;
		margin-left: -1em;
		border: 0 solid #00bd59;
		border-width: 0 .125em .125em 0;
		transform: rotate(45deg);
	}
}
@media (min-width: 48em) {
	#experience {
		background-image: linear-gradient(301.75deg, #00bd59 0, #00bd59 4em, rgba(255,255,255,0) 4em), linear-gradient(#f2f4f6 0, #f2f4f6 20em, #fff 20em);
	}
	#experience h2 {
		min-height: 16.5em;
	}
	#experience p {
		position: absolute;
		margin: 0 3em;
		right: 50%;
		top: 9em;
	}
	#experience p:nth-of-type(even) {
		right: auto;
		left: 50%;
	}
  #clients .bubbles.fullwidth {
    width: 70vw;
    margin: 0 auto;
  }
	.option {
		display: inline-block;
		width: 16rem;
		margin: 0 2em;
		text-align: left;
		vertical-align: top;
	}
	.options ol {
		margin: 2em -2em;
		text-align: center;
	}
	.options ul {
		min-height: 7em;
	}
	.cookies th:nth-child(odd) {
		width: 10em;
	}
}

@media (min-width: 48em) and (max-width: 63.97em) {
	#engagement section {
		width: 22em;
		margin-right: 50%;
		margin-left: auto;
		padding-right: 3.75em;
	}
	#engagement h3 {
		margin-right: -4.5em;
	}
	#engagement section:nth-of-type(2) {
		position: absolute;
		left: 50%;
		margin-top: -13.25em;
		padding-right: 0;
		padding-left: 3.75em;
	}
	#engagement section:nth-of-type(2) h3 {
		margin-right: 0;
		margin-left: -4.5em;
		padding-left: 4.5em;
		background-position: -4em -4em;
	}
	.col-price {
		width: 20%;
	}
}

@media (max-width: 47.97em), (min-width: 64em) {
	table.responsive,
	table.responsive thead,
	table.responsive tbody,
	table.responsive tr,
	table.responsive th,
	table.responsive td {
		display: block;
	}
	.price {
		display: inline;
	}
}

@media (min-width: 64em) {
	.bubble-xl {
		margin: 6em 50% 6em auto;
	}
  p.with-bubble-xl {
    margin: 6em 50% 0 auto;
  }
	.bubble-breakout {
		position: absolute;
		top: 7em;
		left: 50%;
		margin-left: 8em;
	}
	#engagement {
		text-align: center;
	}
	#engagement section + section {
		margin-left: 3.75em;
	}
	#engagement section {
		display: inline-block;
		width: 17.5em;
		text-align: left;
		vertical-align: top;
	}
	#engagement::after {
		content: "";
		display: table;
	}
	thead .col-compare {
		margin-top: 2.875em;
	}
	table.responsive tr {
		float: left;
		width: 12em;
	}
	.col-compare {
		height: 6.5em;
	}
	table::after {
		content: "";
		display: table;
		clear: both;
	}
	th {
		white-space: nowrap;
	}
	th,
	td {
		height: 2.875em;
		overflow: hidden;
	}
	.col-compare {
		height: 6.5em;
		text-overflow: ellipsis;
	}
	th.col-price {
		text-align: left;
	}
	.package:last-child .col-price {
		height: 5.75em;
		padding-top: 1.125em;
	}
	form {
		width: 42em;
		margin: 0 auto;
	}
	form p {
		float: left;
		width: 20em;
		max-width: none;
	}
  form p.fullwidth {
    max-width: none;
    float: none;
    clear: both;
    width: 100%;
  }
	form p:nth-child(even) {
		float: right;
	}
	form p:nth-last-child(2) {
		width: 100%;
	}
	form p:last-child {
		clear: both;
		float: none;
		width: 100%;
		max-width: none;
		padding-top: 2em;
	}
}

@media screen and (min-width: 85em) {
	html {
		font-size: 20px;
	}
}
@media screen and (min-width: 120em) {
	html {
		font-size: 24px;
	}
}
@media screen and (min-width: 160em) {
	html {
		font-size: 28px;
	}
}

@media (max-width: 26.5em) {

	.site,
	.narrative,
	nav a {
		padding-right: 1rem;
		padding-left: 1rem;
	}

	form {
		margin-right: -1rem;
		margin-left: -1rem;
		padding-right: 1rem;
		padding-left: 1rem;
	}

}

[data-info] {
	text-align: center;
}
[data-info]::before {
	content: attr(data-info);
	display: block;
	font-size: 6em;
}

#region {
	max-width: 14em;
	margin: 3em auto;
}
#region li {
	list-style-type: none;
	padding: .5em 0;
	white-space: nowrap;
}
#region a {
	padding-left: 2.5em;
	line-height: 2em;
}
#region a::before {
	font-size: 1.5em;
}

[data-flag] {
	position: relative;
	padding-left: 1.75em;
	white-space: nowrap;
}
[data-flag]::before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	height: 1.1875em;
	width: 1.3125em;
	margin-top: -.625em;
	background: center no-repeat;
	background-size: cover;
	border: 1px solid #f2f4f6;
	border-radius: 50%;
}
[data-flag="de-at"]::before { background-image: url(https://finnoscore.finnoconsult.at/img/flaggen/AT.jpg); }
[data-flag="de-de"]::before { background-image: url(https://finnoscore.finnoconsult.at/img/flaggen/DE.jpg); }
[data-flag="en-gb"]::before { background-image: url(https://finnoscore.finnoconsult.at/img/flaggen/UK.jpg); }
[data-flag="en-us"]::before { background-image: url(https://finnoscore.finnoconsult.at/img/flaggen/US.jpg); }



cookie.disclaimer {
  transition: all 1s ease;

  position: fixed;
  left: 0;
  bottom: -100%;
  width: 100vw;
  padding: 0px 77px 0px 20px;
  margin:0px;

  color: white;
  background: #00bd59;
  background-color: rgb(0,189,89);
  background-color: rgba(0,189,89,0.7);
  background: linear-gradient(-237.75deg, rgba(0,189,89,0.7) 0, rgba(0,189,89,0.7) 80vw, transparent 77px) center no-repeat;

  z-index: 100000;
  text-align: left;
  font-size: 1rem;
}

cookie.disclaimer.display, cookie.disclaimer.display:before, cookie.disclaimer.display:after  {
  bottom: 57px;
}

cookie.disclaimer.accepted, cookie.disclaimer.accepted:before, cookie.disclaimer.accepted:after  {
  transition: all 0.2 ease;
  transform: translateY(200%);
  opacity: 0;
}

cookie.disclaimer a {
  margin: 0px 10px;
  font-weight: bold;
}
cookie.disclaimer button {
  transition: all 0.2s ease;
  border:solid 1px gray;
  border-radius: 5px;
  outline: 0;
  position: relative;
  margin-right: 20px;
  float: right;
  background-color: #f2f4f6;
  color: #00bd59;
  font-weight: bold;
  padding: 0px 10px;
}

@media (min-width: 80em) {
  cookie.disclaimer button {
    margin-right: 100px;
    border:solid 1px orange;
  }
}
