@-ms-viewport {
  width: device-width;
}

@keyframes slide {
	0%, 84%, 92%, 100% { transform: translate(-50%, 0); }
	88%, 96% { transform: translate(-50%, -.125em); }
	89%, 97% { transform: translate(-50%, .5em); }
}

.print {
	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

* {
	margin: 0;
	padding: 0;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	color: #231f20;
}

label,
button {
	cursor: pointer;
}

h1,
h2 {
	margin: .75em 0;
	font-size: 200%;
	text-align: center;
}

th,
td {
	padding: .75em .5em;
	border: 1px solid #f2f4f6;
}
th {
	background-color: #fff;
}
td {
	background-color: #e5e9ed;
}

a:focus,
a:hover {
	box-shadow: 0 -2px #00bd59 inset;
}

.site {
	padding: 0 2rem;
}

header.site {
	position: absolute;
	z-index: 3;
	top: 0;
	right: 0;
	left: 0;
	background: #fff;
	text-align: right;
}
a.logo {
	float: left;
	width: 10em;
	padding: 1em 0;
	background: url("/img/logo.svg") center no-repeat;
	background-size: contain;
	color: transparent;
	text-align: center;
}
a[href="#navigation"] {
	display: inline-block;
	margin: 0 -1ex;
	padding: 1em 1ex;
	color: transparent;
}
a[href="#navigation"]:focus,
a[href="#navigation"]:hover {
	color: inherit;
}
a[href="#navigation"]::after {
	content: "";
	display: inline-block;
	height: 1.25em;
	width: 1em;
	margin: 0 0 .125em 1em;
	vertical-align: text-bottom;
	background: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,0) 20%, #231f20 0, #231f20 30%, rgba(255,255,255,0) 0, rgba(255,255,255,0) 45%, #231f20 0, #231f20 55%, rgba(255,255,255,0) 0, rgba(255,255,255,0) 70%, #231f20 0, #231f20 80%, rgba(255,255,255,0) 0);
}

.narrative {
	overflow: hidden;
	position: relative;
	min-height: 100vh;
	padding: 5em 2rem;
	background: #f2f4f6;
	background: linear-gradient(301.75deg, #00bd59 0, #00bd59 4em, rgba(0,189,89,0) 4em) center no-repeat #f2f4f6;
	background-size: cover;
}
div.narrative {
	background-color: #fff;
}

.invert {
	background-color: #00bd59;
}
#orientation,
.narrative.invert {
	background-image: linear-gradient(301.75deg, #fff 0, #fff 4em, #00bd59 4em);
}
#orientation {
	background-image: linear-gradient(301.75deg, #fff 0, #fff 4em, rgba(255,255,255,0) 4em), url(/img/bg-shibuya.jpg);
}
#activation {
	background-image: linear-gradient(301.75deg, #00bd59 0, #00bd59 4em, rgba(0,189,89,0) 4em), url(/img/bg-bank.jpg);
}
aside#contact {
	background-image: linear-gradient(301.75deg, #00bd59 0, #00bd59 4em, rgba(255,255,255,0) 4em), linear-gradient(#f2f4f6 0, #fff 0, #f2f4f6 100%);
}
#engagement section:nth-of-type(1) h3 { background-position: 100% 0; }
#engagement section:nth-of-type(2) h3 { background-position: 100% -4em; }
#engagement section:nth-of-type(3) h3 { background-position: 100% -8em; }
#engagement h3 {
	max-width: none;
	margin: .5em -.375em 0 0;
	padding: 1.375em 0;
	background: url(/img/strategy.svg) 100% 4em no-repeat;
	background-size: 8em auto;
}
.narrative.invert {
	position: relative;
	z-index: 0;
}
.narrative.invert::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	height: 50%;
	left: 0;
	opacity: .3;
	background: linear-gradient(180deg, rgba(0,189,89,0) 50%, #00bd59 100%), linear-gradient(210deg, rgba(0,189,89,0) 0, #00bd59 50%), url(/img/strategy.svg) 0 -2.5em repeat, url(/img/strategy.svg) 2em .5em repeat;
	background-size: cover, cover, 4em auto, 4em auto;
}

.invert h1,
.invert h2,
.invert em,
.invert b {
	color: #fff;
}

a.slide {
	display: block;
	position: absolute;
	left: 50%;
	bottom: .5em;
	min-width: 9em;
	transform: translate(-50%, 0);
	padding: 1.75em 0;
	background: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTYiIHdpZHRoPSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9InJnYigzNSwzMSwzMikiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNMS42IDQuOEw4IDExIDE0LjQgNSIvPjwvc3ZnPg==") 50% 85% no-repeat;
	color: #231f20;
	font-size: 87.5%;
	text-align: center;
	animation: slide 9s linear infinite;
}
.slide:focus,
.slide:hover {
	box-shadow: none;
}

.bubble::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: -1.5em;
	right: -1.5em;
	bottom: -1.5em;
	left: -1.5em;
	background: #fff;
	border-radius: 50%;
}
.bubble {
	position: relative;
	z-index: 0;
	width: 12em;
	height: 12em;
	margin: 4em auto;
	border: 0 solid transparent;
	border-width: 1px 0;
}
.bubble-photo {
	display: block;
	max-width: 67%;
	width: 15em;
	margin: 2em auto 0;
	background: #fff;
	border-radius: 50%;
}
.bubble h2 {
	margin-top: 0;
}
.bubbles {
	margin: 3em -1em 0;
	text-align: center;
}
li.bubble {
	display: inline-block;
	margin: 2em 3em;
	padding-top: 4em;
	vertical-align: bottom;
}
li.bubble::after {
	content: "+";
	position: absolute;
	left: 0;
	top: -.375em;
	right: 0;
	color: #00bd59;
	font-family: sans-serif;
	font-size: 400%;
	text-align: center;
}
.bubble-xl::before {
	top: -5em;
	right: -5em;
	bottom: -5em;
	left: -5em;
}
.bubble-xl {
	height: 18em;
	width: 18em;
	margin: 5em auto;
}
.bubble-xl h2 {
	margin-top: -.75em;
}

.bubble-breakout {
	margin-top: 14em;
	padding-top: 1.75em;
}
.bubble-breakout h2 {
	position: absolute;
	right: 0;
	bottom: 100%;
	left: 0;
	height: 2em;
	color: #fff;
}

main dl,
main h3,
main p {
	max-width: 36rem;
	margin-right: auto;
	margin-left: auto;
}
F
main dt {
	margin: .625em 0 -.125em;
}

div.narrative {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.motto {
	width: 27.778em;
	max-width: 100%;
	margin: 5em auto; /*IE10/noFlexBox*/
}
.motto strong {
	display: block;
	overflow: hidden;
	position: relative;
	height: 0;
	width: 100%;
	max-width: none;
	padding-top: 60%;
	background: url(/img/we-do.gif) bottom center no-repeat;
	background-size: 100% auto;
}

.math strong {
	display: block;
	margin: .25em 0;
	padding-left: 1em;
	font-size: 150%;
}
.math strong:last-child {
	padding-top: .25em;
	border-top: .125em solid currentColor;
}
.math abbr {
	position: absolute;
	margin: -.0625em 0 0 -1em;
	color: #00bd59;
	font-family: sans-serif;
}
.math strong:last-child abbr {
	color: inherit;
}
.nn {
	display: inline-block;
	width: .5em;
	background: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0yIC0yIDE2LjkgMTguOCIgd2lkdGg9IjEyLjkiIGhlaWdodD0iMTQuOCI+PHBhdGggZmlsbD0icmdiKDAsMTg5LDg5KSIgZD0iTTguOCAwTDQgNy43bC00IDYuNnYuNWgzLjVsNS43LTlMMTIuNyAwaC00ek0wIDB2MTMuNEwzLjMgOFYwSDB6TTEzIDFMOS41IDZWMTVIMTNWLjh6Ii8+PC9zdmc+") center 56% no-repeat;
	background-size: 100% auto;
	color: transparent !important;
}
.invert .nn {
	background-image: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0yIC0yIDE2LjkgMTguOCIgd2lkdGg9IjEyLjkiIGhlaWdodD0iMTQuOCI+PHBhdGggZmlsbD0icmdiKDI1NSwyNTUsMjU1KSIgZD0iTTguOCAwTDQgNy43bC00IDYuNnYuNWgzLjVsNS43LTlMMTIuNyAwaC00ek0wIDB2MTMuNEwzLjMgOFYwSDB6TTEzIDFMOS41IDZWMTVIMTNWLjh6Ii8+PC9zdmc+");
}

table {
	max-width: 60em;
	margin: 1.5em auto;
}
.options ol {
	list-style: none;
}
.options h4::after {
	content: ":";
}
.options li {
	list-style-type: none;
}
.options ul {
	margin: 0;
	padding-left: 0;
}

.form-action {
	margin-top: 3em;
	text-align: center;
}
form .form-action {
	margin-top: 1.5em;
}

.button {
	display: inline-block;
	padding: .675em 1.75em;
	background-color: #00bd59;
	border: .125em solid #00bd59;
	color: #fff;
	transition: background-color .4s ease;
}
.button:focus,
.button:hover {
	background-color: transparent;
	color: #00bd59;
	box-shadow: none;
}
.invert .button {
	border-color: #fff;
}
.invert .button:focus,
.invert .button:hover {
	background-color: #fff;
	color: #00bd59;
}

footer.site {
	padding-top: 1.25em;
	padding-bottom: 1.25em;
}
footer.site .screen::before {
	content: "•";
	display: inline-block;
	width: 2em;
	margin-right: -.5ex;
	text-align: center;
}

@media (max-width: 19.97em) {
	html {
		font-size: 5vw;
	}
}

@media (max-width: 37.47em) {
	.narrative {
		min-height: 150vw;
		padding-top: 3em;
	}
	footer,
	nav {
		text-align: center;
	}
	nav {
		min-height: 75vh;
	}
	nav a {
		display: block;
		padding: 2em;
		border-bottom: 1px solid #f2f4f6;
	}
	nav a.active {
		box-shadow: 3px 0 #00bd59 inset;
	}
	nav a[data-note]::after {
		content: attr(data-note);
		display: inline-block;
		position: absolute;
		margin-left: 1ex;
		padding: 1px 1em;
		color: #00bd59;
		transform: rotate(-9deg);
		font-family: "Alegreya Sans", sans-serif;
		font-size: small;
		font-weight: 700;
	}
}
@media (min-width: 37.5em) {
	header.site,
	nav {
		position: fixed;
		z-index: 3;
	}
	a[href="#navigation"] {
		visibility: hidden;
	}
	nav {
		right: 2em;
		top: 0;
	}
	nav a {
		display: inline-block;
		margin-left: 2em;
		padding: 1em 0;
	}
	nav a.active {
		box-shadow: 0 -.25em #00bd59 inset;
	}
 	main dt {
		position: absolute;
		width: 9em;
		margin: 0;
	}
	main dd {
		padding-left: 10em;
	}
	td.col-compare,
	td.col-reach {
		padding-left: 1.75em;
	}
	td.col-compare::before,
	td.col-reach::before {
		content: "";
		display: inline-block;
		position: absolute;
		width: .5em;
		height: .875em;
		margin-left: -1em;
		border: 0 solid #00bd59;
		border-width: 0 .125em .125em 0;
		transform: rotate(45deg);
	}
}
@media (min-width: 48em) {
	#experience {
		background-image: linear-gradient(301.75deg, #00bd59 0, #00bd59 4em, rgba(255,255,255,0) 4em), linear-gradient(#f2f4f6 0, #f2f4f6 20em, #fff 20em);
	}
	#experience h2 {
		min-height: 16.5em;
	}
	#experience p {
		position: absolute;
		margin: 0 3em;
		right: 50%;
		top: 9em;
	}
	#experience p:nth-of-type(even) {
		right: auto;
		left: 50%;
	}
	.option {
		display: inline-block;
		width: 16rem;
		margin: 0 2em;
		text-align: left;
		vertical-align: top;
	}
	.options ol {
		margin: 2em -2em;
		text-align: center;
	}
	.options ul {
		min-height: 7em;
	}
}

@media (min-width: 48em) and (max-width: 63.97em) {
	#engagement section {
		width: 22em;
		margin-right: 50%;
		margin-left: auto;
		padding-right: 3.75em;
	}
	#engagement h3 {
		margin-right: -4.5em;
	}
	#engagement section:nth-of-type(2) {
		position: absolute;
		left: 50%;
		margin-top: -13.25em;
		padding-right: 0;
		padding-left: 3.75em;
	}
	#engagement section:nth-of-type(2) h3 {
		margin-right: 0;
		margin-left: -4.5em;
		padding-left: 4.5em;
		background-position: -4em -4em;
	}
	.col-price {
		width: 20%;
	}
}

@media (max-width: 47.97em) {
	thead {
		position: absolute;
		clip: rect(0 0 0 0);
		height: 1px;
		width: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
	}
	td[data-col] {
		position: relative;
		margin-left: 50%;
	}
	td[data-col]::after {
		content: attr(data-col);
		position: absolute;
		top: 0;
		bottom: 0;
		right: 100%;
		width: 100%;
		margin-right: 2px;
		padding: .75em .5em;
		background: #fff;
		text-align: left;
	}
	.option {
		max-width: 20em;
		margin: 1.5em 0;
		padding: .75em .5em;
		border: 1px solid transparent;
	}
}

@media (max-width: 47.97em), (min-width: 64em) {
	table,
	thead,
	tbody,
	tr,
	th,
	td {
		display: block;
	}
	.price {
		display: inline;
	}
}

@media (min-width: 64em) {
	.bubble-xl {
		margin: 6em 50% 6em auto;
	}
	.bubble-breakout {
		position: absolute;
		top: 7em;
		left: 50%;
		margin-left: 8em;
	}
	#engagement {
		text-align: center;
	}
	#engagement section + section {
		margin-left: 3.75em;
	}
	#engagement section {
		display: inline-block;
		width: 17.5em;
		text-align: left;
		vertical-align: top;
	}
	#engagement::after {
		content: "";
		display: table;
	}
	thead .col-compare {
		margin-top: 2.875em;
	}
	tr {
		float: left;
		width: 12em;
	}
	.col-compare {
		height: 6.5em;
	}
	table::after {
		content: "";
		display: table;
		clear: both;
	}
	th {
		white-space: nowrap;
	}
	th,
	td {
		height: 2.875em;
		overflow: hidden;
	}
	.col-compare {
		height: 6.5em;
		text-overflow: ellipsis;
	}
	th.col-price {
		text-align: left;
	}
	.package:last-child .col-price {
		height: 5.75em;
		padding-top: 1.125em;
	}
	form {
		width: 42em;
		margin: 0 auto;
	}
	form p {
		float: left;
		width: 20em;
		max-width: none;
	}
	form p:nth-child(even) {
		float: right;
	}
	form p:nth-last-child(2) {
		width: 100%;
	}
	form p:last-child {
		clear: both;
		float: none;
		width: 100%;
		max-width: none;
		padding-top: 2em;
	}
}

@media (min-width: 80em) {

	html {
		font-size: 1.25vw;
	}

}

@media (max-width: 26.5em) {

	.site,
	.narrative,
	nav a {
		padding-right: 1rem;
		padding-left: 1rem;
	}

	form {
		margin-right: -1rem;
		margin-left: -1rem;
		padding-right: 1rem;
		padding-left: 1rem;
	}

}
