::selection {
	background: #2378b8;
	color: #fff;
	text-shadow: none;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

@media screen {
	* {
		font-size: inherit;
		font-style: inherit;
		font-weight: inherit;
		text-decoration: inherit;
	}
}

main {
	display: block; /*IE*/
}

html {
	box-sizing: border-box;
	font: 400 11pt/1.25 "Alegreya", serif;
	color: #000;
}

a {
	text-decoration: inherit;
}

nav a {
	display: block;
}

img {
	max-width: 100%;
	border: none;
}

a.hide-link,
button,
input,
textarea {
	color: inherit;
	font: inherit;
}

h1,
h2,
h3,
.button,
em,
strong,
b {
	font-family: "Alegreya Sans", sans-serif;
	font-weight: 700;
}

strong {
	color: #000;
}
.button,
em,
b {
	color: #00bd59;
}

small,
code,
kbd,
tt {
	font-size: 87.5%;
}

abbr[title] {
	border-bottom: none;
}

@keyframes start {
	from { transform: translate(0, 10em); } to {}
}

@media screen {

	.print {
		display: none !important;
	}

	* {
		margin: 0;
		padding: 0;
	}

	html {
		height: 100%;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 16px;
		color: #231f20;
	}

	body {
		position: relative;
		height: 100%;
		padding: 2em;
	}

	body::before {
		content: "";
		box-sizing: content-box;
		position: absolute;
		right: 0;
		bottom: 0;
		height: 0;
		width: 0;
		border: 0 solid transparent;
		border-right-color: #00bd59;
		border-width: 9.7148279em 6em 0 0;
	}
	body::before {
		animation: start .5s ease;
		position: fixed;
		z-index: 2;
	}

	::input-placeholder {
		color: #e3e3e3;
	}

	label[for],
	button {
		cursor: pointer;
	}

	.button,
	input,
	textarea {
		padding: .5em 1em;
	}
	input,
	textarea {
		width: 100%;
		background-color: #fff;
		border: 1px solid #e3e3e3;
	}
	textarea {
		resize: vertical;
	}

	.particles,
	canvas {
		position: absolute !important;
		z-index: -1;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
	}

	a:focus,
	a:hover {
		box-shadow: 0 -2px #00bd59 inset;
		text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff;
	}

	main {
		min-height: 100%;
		font-size: 1.125em;
	}
	main::before,
	main::after {
		content: "";
		display: table;
	}

	.narrow {
		max-width: 15em;
		margin: 1em auto;
	}
	form {
		max-width: 20em;
		margin: 1em auto;
		padding: .75em 1.5em;
		background-color: rgba(200,220,210,.125);
	}
	label[for] {
		display: inline-block;
		margin: .25em 0;
		padding: 0 1em;
	}
	input {
		display: block;
	}
	button {
		background: transparent;
	}
	.form-action {
		margin-top: 3em;
		text-align: center;
	}
	form .form-action {
		margin-top: 1.5em;
	}

	p {
		margin: .75em 0;
	}

	.slogan {
		max-width: 24em;
		margin: 3em auto;
	}

	.button {
		display: inline-block;
		padding: .675em 1.75em;
		border: .125em solid #00bd59;
		color: #00bd59;
		transition: background-color .4s ease;
	}
	.button:focus,
	.button:hover {
		background-color: #00bd59;
		color: #fff;
		box-shadow: none;
		text-shadow: none;
	}

	.vcard {
		padding: 2em;
		margin: 2em -2em 0;
		border: 0 dashed #cdf6cd;
		border-width: 1px 0;
	}

}

@media screen and (min-width: 48em) {

	.slogan {
		margin-top: 8em;
	}

	.vcard p + p {
		width: 14em;
		float: left;
	}
	.vcard::after {
		content: "";
		display: table;
		clear: left;
	}

}

@media screen and (min-width: 80em) {

	html {
		font-size: 1.5vw;
	}

}

@media screen and (max-width: 26.5em) {

	.narrow,
	form {
		max-width: none;
	}

	form {
		margin-right: -2em;
		margin-left: -2em;
		padding-right: 1em;
		padding-left: 1em;
	}

}

/* Print */

@page {
	margin: 25mm;
}

@media print {

	.screen {
		display: none !important;
	}

	main {
		max-width: 77mm;
	}

	.logo {
		position: absolute;
		right: 0;
		height: 2.9mm;
		width: 22.3mm;
	}
	.vcard .logo {
		bottom: 1mm;
	}

	.vcard h2 {
		margin-top: 20mm;
	}

	.copyright {
		position: absolute;
		left: 0;
		bottom: 0;
	}

}
