.videobox {
  border-radius: 16px;
  box-shadow: 0 0 6px 0px  rgba(0,0,0,0.2);
  overflow: hidden;

  display: flex;
  align-items: center;

  position: relative;

  margin-top: 32px;  
}

.videoWithControls {
  position: relative;
  height: 640px;
}

.tik, .videoOverlay {
  width: 360px;
  height: 640px;  
}

.motto {
  margin: 0 100px;
  width: 400px;
}

.videoOverlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;  
  z-index: 1;

  cursor: pointer;

  background-color: #00bd59;
  background-position: center;
  background-image: url("/img/play-tik.svg");
  background-repeat: no-repeat;
  background-size: 80px;  
}

.muteButton {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 32px;
  height: 32px;

  z-index: 2;
  
  cursor: pointer;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  transition: 0.1s opacity ease-out;
}

.muteButtonEnableSound {  
  background-image: url("/img/volume-mute.svg");
}

.muteButtonDisableSound {
  background-image: url("/img/volume-up.svg");
}

.muteButtonShown {
  opacity: 1;
}

.muteButtonHidden {
  opacity: 0;
}

@media (min-width: 720px) {
  .videobox {
    background: linear-gradient(301.75deg, #00bd59 0, #00bd59 4em, rgba(0,189,89,0) 4em) center no-repeat #fff;
  }  
}

@media (max-width: 900px) {
  .videoWithControls {
    height: 480px;
  }

  .tik, .videoOverlay {
    width: 270px;
    height: 480px;  
  }

  .motto {
    width: 20em;
  }
}

@media (max-width: 720px) {
  .videobox {  
    flex-direction: column;
    width: 100vw;    

    box-shadow: none;
    border-radius: 0;

    margin-top: 0;
  }

  .videoWithControls {
    flex: 1;
  }

  .tik, .videoOverlay {
    width: auto;
    height: auto;  
  }

  .tik {
    width: 100%;
    height: auto;    
  }  

  .muteButtonHidden {
    opacity: 1;
  }

  .videoOverlay {
    width: 100%;
    height: 100%;
  }
}