cookie.disclaimer
	hr
	block cookiedisclaimer
		p= __("This website uses cookies to ensure you get the best experience on our website.")
			a(href="https://cookiesandyou.com/", data-vital=__("Learn more"))=  __("Learn more")
			button#cookieaccept= __("Got it!")
