footer.site
	hr
	p.legal
		small.footer-segment.copyright &copy; 2016 Finnoconsult
		small.footer-segment.footer-link.screen
			= " "
			a.footer-segment(href=linkTo(locale, "/imprint"))= __("Terms of use")
		small.footer-segment.language.screen
			= " "
			- var localeDetails = countries.filter(function (country) { return country.id === locale; })[0];
			a.footer-segment(data-flag=localeDetails.id, href=linkTo(locale, "/locale"))= localeDetails.name
