footer.invert
	.content
		.footer-text
			ul
				li.simple
					h4 Einfach
					p Intuitive und moderne Nutzerführung
				li.security
					h4 Sicher
					p Sicherheit erlebbar in all seinen Facetten
				li.more
					h4 Mehr
					p Mit Weitblick meine Finanzen verwalten und zusätzlich profitieren
			button.button--register Jetzt anmelden
	hr
	block footerlinks
		.content.footer-links
			a.logo(rel="home", href=linkTo(locale, "/", homepageCentral), title=__("Home page"))= constants.titles.name

			include ../includes/navigation

			- var links = []
			- links.push({"homepage": "#Datenschutz", "name": __("Datenschutz"), "class": ""  })
			- links.push({"homepage": "#impressum", "name": __("Impressum"), "class": ""  })

			+navigation-links(links)

			a(href=constants.titles.twitter)
				img(src="/img/twitter.svg")
			a(href=constants.titles.facebook)
				img(src="/img/facebook.svg")
			= " "
