header
	a.logo(rel="home", href=linkTo(locale, "/", homepageCentral), title=__(constants.titles.name))= constants.titles.name
	= " "
	//- a.screen.nav-toggle(href="#navigation")= __("Menu")
	block navigation
		nav.screen.nav-collapse#navigation
			include ../includes/navigation

			- var links = []
			- links.push({"homepage": "#todo", "name": __("Jetzt anmelden"), "class": "button--register"  })

			+navigation-links(links)
