link(rel="apple-touch-icon", href="/img/avatar-192.png")
link(rel="icon", type="image/png", sizes="32x32", href="/img/avatar-32.png")
link(rel="icon", type="image/png", sizes="192x192", href="/img/avatar-192.png")
link(rel="icon", type="image/png", sizes="16x16", href="/img/avatar-16.png")
//- /assets/favicon.ico
link(rel="manifest", href="/manifest.json")
meta(name="msapplication-TileColor", content="#ffffff")
meta(name="msapplication-TileImage", content="/img/avatar-500.png")
//- /assets/browserconfig.xml
