- var links = []
- links.push({"homepage": "https://www.finnoconsult.at", "name": __("About us")})
- links.push({"homepage": "https://finnoscore.finnoconsult.at", "name": "FinnoScore"})
- links.push({"homepage": "https://blog.finnoconsult.at", "name": __("Blog"), "note": __("new")})
nav.screen#navigation
	hr
	each link, separator in links
		= separator ? " " : ""
		a(class=(link.homepage===homepage)&&"active", data-note=link.note, href=linkTo(locale, "/", link.homepage===homepage?null:link.homepage))= link.name
