mixin navigation-links(morelinks)

	- var links = []
	- links.push({"homepage": "#uberuns", "name": __("Über uns"), "class": ""  })
	- links.push({"homepage": "#faq", "name": __("FAQ"), "class": ""  })
	- links.push({"homepage": "#kontakt", "name": __("Kontakt"), "class": ""  })

	- links.concat(morelinks || [])
	- (morelinks || []).forEach(function(item){links.push(item)})

	- links.push({"homepage": "#todo", "name": __("Jetzt anmelden"), "class": "button--register"  })

	ul
		each link, separator in links
			= separator ? " " : ""
			- var subDomainLink = link.subpage ? linkTo(locale, link.subpage, false) : (link.homepage===homepage ? linkTo(locale, '/', false) : link.homepage);
			li.menu-item
				//- data-scroll,
				a(class=link.class, data-note=link.note, href=subDomainLink)= link.name
