- var links = []
- links.push({"homepage": "https://www.finnoconsult.at", "name": __("About us")})
- links.push({"subpage": "/references", "name": __("References")})
- links.push({"homepage": "https://finnoscore.finnoconsult.at", "name": "FinnoScore", "note": __("updated")})
- links.push({"homepage": "https://blog.finnoconsult.at", "name": __("Blog"), "note": __("new")})
nav.screen#navigation
	hr
	each link, separator in links
		= separator ? " " : ""
		- var subDomainLink = link.subpage ? linkTo(locale, link.subpage, false) : (link.homepage===homepage ? linkTo(locale, '/', false) : link.homepage);
		a(class=(link.homepage===homepage)&&"active", data-note=link.note, href=subDomainLink)= link.name
