extends ./blog.jade

block main
	main.narrative.post
		h1= heading || title
		p.post-meta
			span.avatar By 
				a(href="#TODO")= author
			span.time  on 
				time.entry-date.published(datetime=created.toISOString())= 
		!= contents
