include ./includes/contact

	block hiddenfields
		input(type="hidden", name="_to", value="admin@finnoconsult.at")
		input(type="hidden",name="_subject",value="Contact form submission from FinnoConsult.at")
