extends ./base.jade

append styles
	link(rel="stylesheet", media="screen", data-inline, href="/css/interactive.css")

block title
	title= title

block main
	!= contents

append scripts
	script(data-inline, src="/js/appear.js")
	script(data-inline, src="/js/slide.js")
