extends ../compact.jade

append styles
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:500,700")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Kalam")
	link(rel="stylesheet", media="screen", data-inline, href="/css/innovacios.css")

block header
	include ./header

block navigation
	include ./navigation

block footerlinks
	include ./footerlinks

block analytics
	include ./analytics
