extends ../compact.jade

append styles
	link(rel="stylesheet", media="screen", data-inline, href="/css/innovacios.css")

block header
	include ./header

block navigation
	include ./navigation

block footerlinks
	include ./footerlinks
