include ../includes/contact

  block hiddenfields
    input(type="hidden", name="_to", value="info@innovaciostanacsado.com")
    input(type="hidden",name="_subject",value="Contact form submission from InnovaciosTanacsado.com")
