extends ./extended.jade

block header
	include ./header

block main
	main#contact
		section.narrative
			h1= heading || title
			include ./contactForm
		!= contents

block analytics
	include ./analytics

append scripts
	script(data-inline, src="/js/appear.js")
