extends ../extended.jade

append styles
	link(rel="stylesheet", media="screen", data-inline, href="/css/innovacios.css")

block header
	include ./header

block main
	main
		h1.print= heading || title
		!= contents

block navigation
	include ./navigation

block footerlinks
	include ./footerlinks
