.footer-segment.legal.screen
	a.footer-segment.footer-link(href=linkTo(locale, "/imprint", homepageCentral))= __("Impressum")
//-	a.footer-segment.footer-link(href=linkTo(locale, "https://FinnoScore.finnoconsult.at", homepageCentral))= __("#FinnoScore")
//-	a.footer-segment.footer-link(href=linkTo(locale, "/speedcreation", homepageCentral))= __("#SpeedCreation")
	= " "
.footer-segment.copyright
	| &copy; 2018 Innov치ci칩s Tan치csad칩 Kft
