header.site
	a.logo(rel="home", href=linkTo(locale, "/", homepageCentral), title=__("Innov치ci칩s Tan치csad칩"))
		= __("InnovaciosLogoText")
		| #[u.nn nn]
		= __("InnovaciosLogoText2")
	= " "
	a.screen(href="#navigation")= __("Menu")
	hr
