extends ../landing.jade

append styles
	link(rel="stylesheet", media="screen", data-inline, href="/css/innovacios.css")

block header
	include ./header

block main
	main
		h1.print= heading || title
		!= contents
		aside.narrative#contact
			h2.main(data-title=__("Let's start a new project together"))= __("Get everything you need for your innovation today")
			include ./contactForm
		.withUs
			h3.handwritten with I#[u.nn nn]ov치ci칩s Tan치csad칩!

block navigation
	include ./navigation

block footerlinks
	include ./footerlinks
