- var links = []
- links.push({ "homepage": "/", "name": __("About us"), "class": path.match(/\/$/) && "active"  })
- links.push({ "homepage": "/speedcreation", "name": __("SpeedCreation"), "class": path.match(/\/speedcreation$/) && "active"  })
- links.push({ "homepage": "/finnoscore", "name": __("FinnoScore"), "class": path.match(/\/finnoscore$/) && "active"  })
//- links.push({ "homepage": "/prezi", "name": __("Prezi!"), "class": path.match(/\/detail$/) && "active"  })
//- links.push({ "homepage": "/imprint", "name":  __("Imprint"), "class": path.match(/\/imprint/) && "active" })
//- || path === "/imprint"
unless path === "/contact"
	- links.push({ "homepage": "/contact", "name":  __("Free consultation"), "class": "button" })
nav(class="screen " + (path != "/contact" && "withButton"), id="navigation")
	hr
	each link, separator in links
		= separator ? " " : ""
		- var subDomainLink = linkTo(locale, link.homepage, false)
		//- NOTE: only Hungarian content available, others should show the landing 
		- var landingPageRegex = new RegExp(locale + "/$");
		- if (locale.indexOf("hu") !== 0 && !subDomainLink.match(landingPageRegex)) { subDomainLink = linkTo(locale, "/#activation") }
		a(class=link.class, data-note=link.homepage, href=subDomainLink)= link.name
