- var links = []
- links.push({"homepage": "/", "name": __("About us")})
- links.push({"homepage": "/imprint", "name":  __("Imprint")})
nav.screen#navigation
	hr
	each link, separator in links
		= separator ? " " : ""
		- var subDomainLink = linkTo(locale, link.homepage, false)
		- var re = new RegExp(link.homepage);
		a(class=path.match(re)&&"active", data-note=link.homepage, href=subDomainLink)= link.name
