extends ../person.jade

append styles
	link(rel="stylesheet", media="screen", data-inline, href="/css/innovacios.css")

block navigation
	include ./navigation

block footerlinks
	include ./footerlinks
